/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ==================================== */
    /* border: 1px solid #000; */
    /* ==================================== */
}
a{
    text-decoration: none;
    display: block;
    color: #000;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
/* //초기화 */

/* container */
#container{
    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/backgroundImg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}
/* //container */

/* header */
header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 200px;
    height: 80px;
}
header .logo span{
    display: inline-block;

    text-align: center;
    font-size: 60px;
    font-weight: bold;

    margin-left: 55.305px;
}
header .logo span a{
    color: #fff;
    transition: 0.3s;
}
header .logo span a:hover{
    color: #E0B0FF;
}

header .menu{
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 30px;
}
header .menu li{
    width: 25%;
    
    text-align: center;
}
header .menu li a{
    font-size: 20px;
    color: white;
    display: inline-block;

    transition: 0.2s;
}
header .menu li .About{
    width: 67.63px;
}
header .menu li .Skills{
    width: 56.41px;
}
header .menu li .Project{
    width: 74.17px;
}
header .menu li .Contect{
    width: 81.89px;
}
header .menu li a:hover{
    color: #E0B0FF;
    border-bottom: 3px solid #E0B0FF;
    font-weight: bold;
}
/* //header */

/* main */
.main{
    width: 1000px;
    height: 650px;

    margin: 30px auto 0 auto;
    /* padding-bottom: 50px; */

    text-align: center;
}
.main h1{
    font-size: 50px;

    margin-bottom: 20px;
}

.main .hr{
    width: 300px;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 2px;
}

.main h2{
    font-size: 40px;
}

.main .ex{
    width: 300px;

    font-size: 1.5rem;
    font-weight: bold;
    opacity: 50%;

    transition: opacity 0.3s, transform 0.3s;

    margin: 0 auto 50px auto;
}
.main .ex:hover{
    opacity: 1;
    transform: scale(1.1);
}

.main button{
    font-size: 30px;

    width: 250px;
    height: 90px;
    border: 3px solid #fff;
    border-radius: 45px;
    background-color: transparent;

    color: white;
    transition: 0.3s;
}
.main button:hover{
    background-color: #fff;
    color: #000;
}

.main .mouse .mouseIcon{
    width: 60px;
    margin: 0 auto;
}

.main .mouse{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;

    width: 150px;
    margin: 0 auto;

    animation: mouse 1s infinite ease-in-out;
}
@keyframes mouse{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.main .mouse .text{
    opacity: 0;

    width: 150px;

    font-size: 24px;
    margin-top: 10px;

    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;

    transform: translateY(-20px);

    transition: opacity 0.3s, transform 0.5s;
}
.main .mouse .text.active{
    transform: translateY(-5px);
    opacity: 1;
}
/* //main */

/* about */
.about{
    width: 1200px;
    height: 900px;
    margin: 0 auto;

    /* margin-top: 0; */
    padding: 100px 0;
}

.about h2{
    font-size: 40px;
    color: #E0B0FF;
}
.about h1{
    font-size: 50px;
}

.about .contents{
    width: 100%;
    height: 500px;
    margin-top: 50px;

    display: flex;
}

.about .left{
    width: 400px;
    height: 520px;
}
.about .left img{
    width: 100%;
    height: 100%;
}

.about .right{
    width: 800px;
    height: 500px;

    padding-left: 20px;
}
.about .right h1{
    font-size: 30px;
}
.about .right h1 span{
    color: #E0B0FF;
}
.about .right li{
    font-size: 23px;
    padding: 5px 0;
}
.about .right .fa-facebook{
    font-size: 50px;
    color: #3b5998;
}
.about .right .fa-youtube{
    font-size: 50px;
    color: red;
}
.about .right .fa-instagram{
    font-size: 50px;
    color: rgb(224, 143, 224);
}
.about .right .fa-brands{
    margin-right: 10px;
}
/* //about */

/* skills */
.skills{
    width: 100%;
    height: 700px;
    background-color: #eee;

    /* margin-top: 100px; */
    padding-top: 100px;
}

.skills h2{
    font-size: 40px;
    color: #E0B0FF;
}
.skills h1{
    font-size: 50px;
}

.skills .skillsInnerWrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.skills .contents{
    width: 1200px;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
}

.skills .contents h3{
    /* padding-left: 10px;
    padding-top: 10px; */
    font-size: 30px;
    text-align: start;
    margin-bottom: 20px;
    margin-left: 10px;
}

.skills .contents li{
    width: 350px;
    height: 350px;
    background-color: #fff;

    font-size: 20px;
    text-align: center;

    padding: 20px;

    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;

}
.skills .contents i{
    color: #E0B0FF;
    font-size: 40px;

    transition: color 0.3s;
}

.skills .contents li:hover{
    background-color: #E0B0FF;
    color: #fff;

    border-radius: 15px;
}
.skills .contents li:hover i{
    color: #fff;
}
/* //skills */

/* bg */
.bg{
    width: 100%;
    height: 600px;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* //bg */

/* project */
.project{
    height: 1100px;
    margin-top: 0;
}

.project .projectInnerWrap{
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.projectContentsWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 45px;
}

/* @media (max-width: ){

} */

.project .projectContentsWrap .projectContent{
    width: 350px;
    height: 350px;
    background-color: #fff;

    font-size: 20px;
    text-align: center;

    padding: 20px;

    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.project .projectContent i{
    color: #E0B0FF;
    font-size: 40px;

    transition: color 0.3s;
}

.project .projectContent:hover{
    background-color: #E0B0FF;
    color: #fff;

    border-radius: 15px;
}
.project .projectContent:hover i{
    color: #fff;
}








/* //project */